@media (min-width: 768px) {
	.navbar {
		position: relative;
		width: 100%;
		padding: 0 3em;
		&__logo {
			font-size: 2.2rem;
			z-index: 3;
		}
		&__link {
			position: relative;
			display: flex;
			justify-content: end;
			flex-direction: row;
			transform: translateX(0%);
			z-index: 2;
			font-size: 2em;
			height: 100%;
			width: 70%;
			padding: 0;
			background: none;
			&-nav {
				margin: 0;
				padding: 10px;
				width: auto;
				&::before {
					top: 1.9em;
					height: 1.8px;
				}
				&:hover::before {
					width: 80%;
				}
			}
		}
		&__burger {
			display: none;
		}
	}
	main {
		.home {
			position: relative;
			background-image: url('../img/home_01_big.jpg');
			background-position: 70% -10%;
		}
		.arrows {
			position: absolute;
			display: block;
			bottom: 2%;
			left: 50%;
			width: 60px;
			height: 60px;
			border: 2px solid rgba(135, 206, 250, 0.7);
			border-radius: 50%;
			overflow: hidden;
			z-index: 1;
			cursor: pointer;
			transform: translateX(-50%);
			transition: background-color 0.5s ease-in-out;
			&:hover {
				background-color: var(--blue-verystrong);
			}
			&-arrow {
				position: absolute;
				display: flex;
				justify-content: center;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				text-align: center;
				align-items: center;
				font-size: 3rem;
				color: var(--one-color);
			}
		}

		.section {
			.boxTwo {
				width: 100%;
				bottom: 0;
				height: 90px;
			}
		}
		.boxes {
			margin-top: 8em;
			height: 80%;
			padding: 5em 3em;
			&__box {
				height: 175px;
				&-content {
					justify-content: space-between;
					&-title {
						font-size: 2.2rem;
						padding-bottom: 0.7em;
						margin-bottom: 0.7em;
					}
					&-textOne {
						font-size: 1.4rem;
						margin-bottom: 1em;
					}
				}
			}
		}

		.cards {
			&__card {
				height: 290px;
			}
		}

		.opinions {
			&__opinionBox {
				&-opinion {
					&-tinta {
						&--title {
							width: 50%;
						}
					}
					&-tour {
						height: 180px;
					}
				}
			}
		}
	}
}
